body {
  margin: 0;
  font-family:'Times New Roman', Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-bot-container{
  position:fixed;
  bottom: 20px;
  right:  10px;
}


.header{
  background-color: #f0efef94;
  width: 100%;
  position: absolute;
  top: 0px; left: 0px;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;

}
.headerElement{
  margin: auto;
}

.header-button{
  margin-right: 15px;
  background:none;
  border: none;
  font-size: 21px;
}

.logo-text{
  height: 100%;
  font-size: 30px;
}

.admin-tables{
  margin-top: 100px;
}

.mainPage {
  position: relative;
  background-color: #ffffff99;
    background: rgba(88, 83, 83, 0.123) url('./static/orig.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    justify-content: center;
 }

 .textOnMainPage{
    position: absolute; 
    bottom: 40px;
    color: rgba(240, 248, 255, 0.815);
    left: 50px;
 }

.buttonOnMainPage{ 
  border-radius: 7px;
  transition: transform .2s; /* Animation */
  font-size: 33px;
  color: rgba(240, 248, 255, 0.815);
  border-color: aliceblue;
  background-color: #ffffff00; 
 }

 .buttonOnMainPage:hover {
  transform: scale(1.2); /* (150% зум - Примечание: если масштаб слишком велик, он будет выходить за пределы видового экрана) */
}
 

.textOnMainPageSRT1{
  font-size: 30px;
  margin-bottom: 0;
}

.textOnMainPageSRT2{
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
}

.container-for-line{
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.line{
  height: 1px;
  width: 70%;
  margin: auto; 
  background-color: #743c3c;
}

.container-center{
  margin-bottom: 70px;
  display: flex;
  height: 470px;
}
 
.caurosel-btn{
  padding: 10px 10px 10px 10px;
  font-size: 20px;
  color: #fff;
  margin-left: 15% !important;
  border-radius: 5px;
  border-color: #788077;
  background-color: #788077; 
}

.container-carousel{
  margin: auto;
  margin-right: 10%;
}

.text-carousel{
  margin: auto;
  margin-left: 0;
}

.text-carousel-main{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  width: 300px;
}

.text-carousel-bottom{
  font-size: 17px;
  width: 300px;
  text-align: center;
}

.react-chatbot-kit-chat-container{
  border: solid 2px;
  border-color: #cfcece;
  border-radius: 2%;
}
.react-chatbot-kit-chat-header{
  visibility: hidden;
  font-size: 1px !important;
 }

.react-chatbot-kit-chat-header::before{
   background-clip: content-box;
  font-size: 14px !important;
  visibility: visible;
  content: 'Задайте вопрос боту';
}


.footer{
  z-index: 100;
  margin-top: 20vh;
  display: flex;
  height: 180px;
  width: 100%;
  color: #fff;
  background-color: #282e2c;
}

.footer-contacts{
  margin: auto;
}

.footer-site-menu{
  margin: auto;
}

.services-menu{
  width: 100%;
 	display: flex;
  margin-right: 70px;
  margin-top: 30px;
  flex-direction: column !important;

}

.services-container{
  display:flex;
  margin-bottom: 20px;
  justify-content: center;
}

.services-area{
  display: block;
}

.btn-to-service{
  width: 160px;
  margin: 10px 10px 10px 10px;
  border-radius: 7px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.815);
  background-color: #ffffff !important;
  border-radius: 0%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  background-color: #ffffff21; 
}

.btn-to-service:hover{
  background-color: #d2d4d8 !important;
}

.services-discribe{
  width: 590px;
  font-size: 20px;
}

.services-discribe p{
  margin-left: 2%;
}

.services-picture{
  outline: 1px solid white;
  outline-offset: -10px;
  height: 300px;
  width: 590px;
  opacity: 0;
  animation: ani 2.5s forwards;
}


@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.services-area{
  display: flex;
}

.sevices-title{
  font-size: 24px;
  margin-bottom: 20px;
  margin-left: 100px; 
}

.services-bg{
  margin-top: 80px;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #e7eaebbb;
}

.service-more-btn{
  float: right;
  margin-bottom: 20px;
  border-radius: 7px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.815);
  border-radius: 5%;
  border-width: 1px;
  border-color: #838a77;
  background-color: #798A77; 
}

.image-container{
  height: 70vh;
  overflow: hidden;
  width: 30vw;
  min-width: 350px !important;
  margin: auto;
  margin-left: 10px;
  outline: 1px solid white;
  outline-offset: -15px;
}

 .services-image{
    height: 70vh;
     min-width: 350px !important;
    margin: auto;
    
  }

  .title-image{
    position:absolute;
    margin-top: 10px;
    width: 30vw;
    text-align: center;
    color: #fff;
    font-size: 32px;
  }

  .service-get-more{
    background-color: #949169;
    border: 1px solid #949169;
    color: white;
    border-radius: 8px;
    position: absolute;
    bottom: 19px;
    font-size: 20px;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
   }

  .service-btn-div{
    position: absolute;
    width: 30vw;
    height:70vh ;
  }

  .chat-bot-close-btn{
    position: relative;
   bottom: -40px;
   z-index: 999;
   left: 80%;
 }

  @media (max-width: 568px){
    .container-center{
      display: block;
      height: 700px;
    }
    .carousel-item img{
      width: 100px;
    }
    .services-image{
      width: 90vw;
      height: 130px ;
      object-fit: cover; 
      object-position: 20% 0;

    }
  
    .image-container{
      min-width: none ;
      width: 50px;
      height: 130px ;
      margin-bottom: 50px;
    }
    .services-container{
      width: 100vw;
      margin: 0px !important;
    }
    .services-container-2{
      display: block !important;
    }
    .service-btn-div{
        height: 130px;
    }
    .service-get-more{
       bottom: -40px;
    }
    .title-image{
      font-size: 20px;
      width: 90vw;
    }

    .carousel-inner{
      width: 100px;
      height: 100px;
    }

    .carousel-inner div img{
      width: 100vw !important;
    }

    .chat-bot-container img{
      margin: 0px !important;
    }

   

    .text-carousel-bottom{
      visibility: hidden;
      height: 0px;
    }

    .text-carousel-main{
      font-size: 18px;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 50px;
    }

    .services-bg{
      height: 140px !important;
    }

    .wr-bottom-btn-descr{
      width: 100%;
    }
    .caurosel-btn{
      display: block !important; 
      margin: 0 auto !important; 
      margin-bottom: 0;
    }

    .sevices-title{
      margin-left: 10px;
      width: 90vw !important;
    }
  }