body {
  margin: 0;
  font-family:'Times New Roman', Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-bot-container{
  position:fixed;
  bottom: 20px;
  right: 10px;
}


.header{
  background-color: #f0efef94;
  width: 100%;
  position: absolute;
  top: 0px; left: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.headerElement{
  margin: auto;
}

.header-button{
  margin-right: 15px;
  background:none;
  border: none;
  font-size: 21px;
}

.logo-text{
  height: 100%;
  font-size: 30px;
}

.admin-tables{
  margin-top: 100px;
}

.mainPage {
  position: relative;
  background-color: #ffffff99;
    background: rgba(88, 83, 83, 0.123) url('./static/orig.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    justify-content: center;
 }

 .textOnMainPage{
    position: absolute; 
    bottom: 40px;
    color: rgba(240, 248, 255, 0.815);
    left: 50px;
 }

.buttonOnMainPage{ 
  border-radius: 7px;
  font-size: 33px;
  color: rgba(240, 248, 255, 0.815);
  border-color: aliceblue;
  background-color: #ffffff00; 
 }

 .buttonOnMainPage:hover{
  transform: scale(1.2);
  transition: 1s; 
}

.textOnMainPageSRT1{
  font-size: 30px;
  margin-bottom: 0;
}

.textOnMainPageSRT2{
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
}

.container-for-line{
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.line{
  height: 2px;
  width: 700px;
  margin: auto; 
  background-color: #743c3c;
}

.container-center{
  margin-bottom: 70px;
  margin: auto;
  width: 70%;
  height: 470px;
}

.wr{
  display: block;
}

.container-row{
  width: 100%;
}

.container-carousel{
  float: left;
}

.text-carousel{
  width: 300px;
  margin-left: 80px;
  float: left;
}

.text-carousel-main{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.text-carousel-bottom{
  text-align: center;
}

.react-chatbot-kit-chat-container{
  border: solid 2px;
  border-color: #cfcece;
  border-radius: 2%;
}

.footer{
  
  display: flex;
  height: 100px;
  width: 100%;
  background-color: #9faaa6;
}