body {
  margin: 0;
  font-family:'Times New Roman', Times, serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chat-bot-container{
  position:fixed;
  bottom: 20px;
  right: 10px;
}


.header{
  background-color: #f0efef94;
  width: 100%;
  position: absolute;
  top: 0px; left: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;

}
.headerElement{
  margin: auto;
}

.header-button{
  margin-right: 15px;
  background:none;
  border: none;
  font-size: 21px;
}

.logo-text{
  height: 100%;
  font-size: 30px;
}

.admin-tables{
  margin-top: 100px;
}

.mainPage {
  position: relative;
  background-color: #ffffff99;
    background: rgba(88, 83, 83, 0.123) url('./static/orig.jpg');
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    justify-content: center;
 }

 .textOnMainPage{
    position: absolute; 
    bottom: 40px;
    color: rgba(240, 248, 255, 0.815);
    left: 50px;
 }

.buttonOnMainPage{ 
  border-radius: 7px;
  transition: transform .2s; /* Animation */
  font-size: 33px;
  color: rgba(240, 248, 255, 0.815);
  border-color: aliceblue;
  background-color: #ffffff00; 
 }

 .buttonOnMainPage:hover {
  transform: scale(1.2); /* (150% зум - Примечание: если масштаб слишком велик, он будет выходить за пределы видового экрана) */
}
 

.textOnMainPageSRT1{
  font-size: 30px;
  margin-bottom: 0;
}

.textOnMainPageSRT2{
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 0;
}

.container-for-line{
  width: 100%;
  margin-top: 70px;
  margin-bottom: 70px;
}

.line{
  height: 1px;
  width: 70%;
  margin: auto; 
  background-color: #743c3c;
}

.container-center{
  margin-bottom: 70px;
  margin: auto;
  width: 70%;
  height: 470px;
}
 
.caurosel-btn{
   margin: 10px 10px 10px 10px;
   font-size: 18px;

  color: #ffffffd0;
  border-radius: 5px;
  border-color: #798A77;
  background-color: #798A77; 
}

.container-row{
  width: 100%;
}

.container-carousel{
  float: left;
}

.text-carousel{
  width: 300px;
  margin-left: 80px;
  float: left;
}

.text-carousel-main{
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.text-carousel-bottom{
  text-align: center;
}

.react-chatbot-kit-chat-container{
  border: solid 2px;
  border-color: #cfcece;
  border-radius: 2%;
}
.react-chatbot-kit-chat-header{
  visibility: hidden;
  font-size: 1px !important;
 }

.react-chatbot-kit-chat-header::before{
   background-clip: content-box;
  font-size: 14px !important;
  visibility: visible;
  content: 'Задайте вопрос боту';
}


.footer{
  display: flex;
  height: 180px;
  width: 100%;
  color: #fff;
  background-color: #282e2c;
}

.footer-contacts{
  margin: auto;
}

.footer-site-menu{
  margin: auto;
}

.services-menu{
  width: 100%;
 	display: flex;
  margin-right: 70px;
  margin-top: 30px;
  flex-direction: column !important;

}

.services-container{
  display:flex;
  justify-content: center;
}

.services-area{
  display: block;
}

.btn-to-service{
  width: 130px;
  margin: 10px 10px 10px 10px;
  border-radius: 7px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.815);
  background-color: #ffffff !important;
  border-radius: 0%;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.116);
  background-color: #ffffff21; 
}

.btn-to-service:hover{
  background-color: #d2d4d8 !important;
}

.services-discribe{
  width: 590px;
}

.services-picture{
  outline: 1px solid white;
  outline-offset: -10px;
  height: 300px;
  width: 590px;
  opacity: 0;
  animation: ani 2.5s forwards;
}

.services-picture::after{
  
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.services-area{
  display: flex;
}

.sevices-title{
  font-size: 24px;
  width: 100%;
  margin-bottom: 20px;
}

.services-bg{
  margin-top: 80px;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: #e7eaebbb;
}

.service-more-btn{
  float: right;
  margin-bottom: 20px;
  border-radius: 7px;
  font-size: 24px;
  color: rgba(255, 255, 255, 0.815);
  border-radius: 5%;
  border-width: 1px;
  border-color: #798A77;
  background-color: #798A77; 
}

