.table-calendar {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #fff;
	border-top: 2px solid #8f5c5c;
	border-bottom: 2px solid #8f5c5c;
	border-collapse: collapse; 
	outline: 1px solid #ffffff;
	font-size: 15px;
	background: #fff!important;
}
.table-th{
    padding-top: 7px;
    padding-bottom: 7px;
	font-weight: bold;
 	background: #a29fb3;
	border: none;
	text-align: left;
	font-size: 15px;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
}
.table-calendar td {
    width: 100px;
	padding: 7px;
	border: none;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	font-size: 15px;
}

 .booking-admin-payment{
    width: 100px;
    margin: 10px 10px 10px 10px !important;
    margin: auto !important;
    border-radius: 7px;
    font-size: 24px;
    background-color: #8d8e9b !important;
    border-radius: 0%;
    border-width: 1px;
    border-color:#8d8e9b !important;
 }

.admin-delete-btn{
  width: 40%;
  margin-right: 10px !important;
}

.booking-table:hover td{
	background-color: inherit;
	background-color: rgb(237, 238, 235) !important;
}

.room-column{
     background-color: #dcdbe2;
}

.result-item{
    width: 100%;
    text-align: center;
}

.sorry-msg{
    margin-bottom: 20px;
    font-size: 20px;
}

.previous-btn{
     width: 100px;
     background-color: #756e8000  !important;
     border: none  !important;
}

.next-btn{
    float: right;
    border: none  !important;
    width: 100px;
    background-color: #756e8000 !important;
}



